In [ ]:
import requests
from random import randint
import csv
from pymongo import MongoClient

## Jupyter test

In [ ]:
print('hello')

In [ ]:
response = requests.get('https://www.google.com/')
response.status_code

In [ ]:
response.text[:300]

## Connect MongoDB

### 이렇게!!

$y=x+1$

In [ ]:
# MongoDB Cloud Configs
# !Important
# Don't upload these configs
mongo_username = "powerofadmin"
mongo_password = "1q2w3e4r"
mongo_uri = f"mongodb+srv://{mongo_username}:{mongo_password}@cluster0.djhou.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

In [ ]:
# MongoDB Client 시작
client = MongoClient(mongo_uri)

In [ ]:
# Pass if this code raise exception.(Print collection list)
client.cluster0.list_collection_names()

In [ ]:
# set alias client.cluster0 to db
db = client.cluster0

In [ ]:
# Create new collection
user_collection = db["users"]

In [ ]:
# 무시하고 넘어갑시다^^ 해당 오류는 확인해볼게요^^
db.list_collection_names()

## Insert data

In [ ]:
# INSERT 1 document
user1 = {
    "name":"John Doe",
    "email":"johndoe@gmail.com",
}

user_collection.insert_one(user1)

In [ ]:
# INSERT lots of documents
many_users = [
    {
    "name":"Jane Doe",
    "email":"janedoe@gmail.com",
    },
    {
    "name":"Richard Doe",
    "email":"ritchedoe@gmail.com",
    },
    {
    "name":"John Poe",
    "email":"johnpoe@gmail.com",
    },
]
user_collection.insert_many(many_users)

## Select data

In [ ]:
# SELECT * FROM users;

query = {}
user_collection.find(query)

In [ ]:
# to see the result, type casting done Cursor to list.
list(user_collection.find(query))

In [ ]:
# To exclude some key,value, set value to 0 with key
list(user_collection.find(query, {"_id":0, "email":0, }))

In [ ]:
# individual document(locale only at user2)
user2 = {
    "name":"John Stiles",
    "email":"jonny@gmail.com",
    "locale":"Seoul, KR",
}
user_collection.insert_one(user2)

In [ ]:
query={}
list(user_collection.find(query, {"_id":0}))

In [ ]:
# pymongo with python
[(item["email"][:-10], item["name"]) for item in user_collection.find({},{"_id":0})]

In [ ]:
query={}
user_collection.find_one(query)

In [ ]:
# SELECT * FROM users WHERE name is Jane Doe;
query={"name":"Jane Doe"}
list(user_collection.find(query, {"_id":0}))

In [ ]:
# aggregation
query={"name":{"$regex":"^J"}}
list(user_collection.find(query, {"_id":0}))

## Update data

In [ ]:
# define set_age to return random integer 19-50
def set_age():
    return randint(19,50)

In [ ]:
# update document where name is Jane Doe
query={"name":"Jane Doe"}
new_value={"$set":{"age":set_age()}}

user_collection.update_one(query, new_value)
user_collection.find_one(query)

In [ ]:
# update documents to all
# For Jane Doe, update age.
for user in user_collection.find({}, {"_id":0}):
    new_value = {"$set":{"age":set_age()}}
    query = {"name":user["name"]}
    
    user_collection.update_one(query, new_value)

In [ ]:
list(user_collection.find({},{"_id":0}))

## Filter, Sort

In [ ]:
# filter
# SELECT * FROM users WHERE age > 35;
query={"age":{"$lt":35}}
list(user_collection.find(query, {"_id":0}))

In [ ]:
# SORT BY ASC(1) DESC(-1)
query={"age":{"$lt":35}}
list(user_collection.find(query, {"_id":0}).sort("age",-1))

In [ ]:
list(user_collection.find({},{"_id":0}).sort("name", 1))

# Homework

## Export csv data to MongoDB

In [1]:
import csv # import csv module


with open('../airport_code.csv', encoding='cp949') as f:
    csv_reader = csv.reader(f, delimiter=',') # read csv file with csv.reader
    
    result = [] # result list
    
    next(csv_reader, None) # To skip csv header
    # ['영문명', '한글명', 'IATA코드', 'ICAO코드']
    for row in csv_reader:
        row_to_json = {
            'enName': row[0],
            'koName': row[1],
            'IATACode': row[2],
            'ICAOCode': row[3],
        }
        result.append(row_to_json)

In [ ]:
airport_collection = db["airports"]

In [ ]:
airport_collection.insert_many(result)

In [ ]:
list(airport_collection.find({}, {"_id":0}))

## Update airport info to MongoDB

In [ ]:
with open('../airport_info.csv', encoding='cp949') as f:
    csv_info = csv.reader(f, delimiter=',')
    
    result = []
    
    next(csv_info, None) # to skip csv header 
    # ['영문명', '한글명', 'IATA코드', 'ICAO코드', '지역', '국가명_영문', '국가명_한글', '도시명_영문']
    for row in csv_info:
        to_json = {"$set":{
            'continent': row[4],
            'enCountryName': row[5],
            'koCountryName': row[6],
            'enCityName': row[7],
        }}
        query = {'IATACode':row[2]}
        new_value = to_json
        try:
            airport_collection.update_one(query, new_value)
        except:
            print(f'not found {row[2]}')
            pass

# TODO

위의 코드를 참조하여 `../airline_code.csv`를 insert하고,  `../airline_info.csv`의 추가정보를 update하세요

- IATA가 붙은 파일들은 원본파일입니다. 2534개라 다 insert 하면 daily limit 넘어갑니다
- google colab 쓰시는 분들은 왼쪽 상단 browser에 csv 파일들을 업로드 한 후 디렉토리 위치에 맞게 경로를 수정하시면 가능합니다

## Sliced

처음부터 100개 잘랐어요^^
실습 불필요^^

In [18]:
filename = '../iata_airline_code.csv'
new_filename = '../airline_code.csv'
with open(filename, encoding='cp949') as f:
    lines = f.readlines()[:100]
    with open(new_filename, 'w', encoding='cp949') as g:
        for line in lines:
            g.write(line)

In [19]:
with open(new_filename, encoding='cp949') as f:
    csv_reader = csv.reader(f, delimiter=',')
    for row in csv_reader:
        print(row)

['항공사(영문명)', '항공사(한글명)', '항공사코드(IATA)', '항공사코드(ICAO)', '항공사상태']
['135 Airways', '135 에어웨이', '', 'GNL', 'Grounded']
['1time', '1타임항공', '1T', 'RNX', 'Grounded']
['2 Sqn, No 1 Elementary Flying Training School', 'No 기초비행훈련스쿨 2편대', '', 'WYT', 'Grounded']
['21 Air', '21 에어', '2I', 'CSB', 'Active']
['213 Flight Unit', '213 비행대대', '', 'TFU', 'Grounded']
['223 Flight Unit, State Airline', '223 비행대대, 스테이트 에어라인', '', 'CHD', 'Grounded']
['224th Flight Unit', '224 비행대대', '', 'TTF', 'Grounded']
['247 Jet Ltd', '247 제트', '', 'TWF', 'Grounded']
['32 (Tr) Squadron, Raf Northolt', '영국공군 노솔트 32대대', '', 'NOH', 'Grounded']
['3D Aviation', '3D 에비에이션', '', 'SEC', 'Grounded']
['3Grcomm Ltd (T/A Crest Aviation)', '3G 알콤 - 크레스트 항공', '', 'CAN', 'Grounded']
['40 Mile Air', '40마일에어', 'Q5', 'MLA', 'Active']
['43 Air School', '43 비행스쿨', '', 'PIU', 'Grounded']
['4D Air', '4D 에어', '', 'QRT', 'Grounded']
['540 Ghana Ltd.', '540 가나', '5G', '', 'Active']
['611897 Alberta Ltd', '611897 앨버타', '', 'THD', 'Active']
['748 Air Services', '748 항공서비스', '', 'IHO', 'Active']
['84 Sqn Raf Akrotiri', '아크로티리 공군 84연대', '', 'AKG', 'Grounded']
['9 Air', '9 에어', 'AQ', 'JYH', 'Active']
['9G Rail Limited', '9G 레일', '9G', '', 'Grounded']
['AA 767, LLC', 'aa 767', '7Q', '', 'Active']
['AAA - Air Alps Aviation Ges.M.B.H.', 'AAA - 에어알프스 항공', 'A6', 'LPV', 'Grounded']
['AB Aviation', 'AB 항공', 'Y6', 'CYK', 'Grounded']
['AB Aviation', 'AB 항공', 'Y6', '', 'Active']
['Ababeel Aviation', '아바빌항공', '', 'BBE', 'Active']
['Abaete Linhas Aereas', '아바에테 리나스 아에레스', '', 'ABJ', 'Active']
['Aban Air', '아반 에어', 'K5', 'ABE', 'Grounded']
['Abas', '아바스', '', 'MRP', 'Grounded']
['Abc Aerolineas (Interjet)', 'Abc 아에로리나스', '4O', '', 'Active']
['Abc Air Hungary Ltd', 'ABC 에어헝가리', '', 'AHU', 'Grounded']
['ABC Bedarfsflug Gmbh', 'ABC 베다피쉬플러그', '', 'FTY', 'Grounded']
['Abelag Aviation', '아발렉 에비에이션', 'W9', 'AAB', 'Grounded']
['Aberdair Aviation Limited', '아베르데어 에비에이션', '', 'BDV', 'Active']
['Abidjan Air Cargo', '아비장에어카고', '', 'ADJ', 'Grounded']
['Aboitiz Air Transport Corporation', '아보이티즈항공운송주식회사', '', 'BOI', 'Grounded']
['Aboriginal Air Services', '애브오리지널에어서비스', 'I8', '', 'Active']
['Abs Jets', 'Abs 제트', '', 'ABP', 'Active']
['Absolute Flight Services (Pty) Ltd', '앱설루트 플라이트 서비스', '', 'COI', 'Grounded']
['Abu Dhabi Aviation', '아부다비항공', 'MO', 'AXU', 'Grounded']
['ABX Air', 'ABX 에어', 'GB', 'ABX', 'Active']
['ACA-Ancargo Air Sociedade de Transporte de Carga Lda', '앙카고화물', '', 'NCL', 'Grounded']
['Academy Airlines', '아카데미 에어라인', '', 'ACD', 'Grounded']
['Accessair', '어세스에어', '', 'CYD', 'Grounded']
['Ace Air', '에이스 항공', '', 'ATZ', 'Grounded']
['Acef - Transportes Aereos E Cargas, Lda.', 'Acef - 항공화물운송', '', 'CFM', 'Grounded']
['ACG Air Cargo Germany GmbH', 'ACG 독일에어카고', '6U', 'ACX', 'Grounded']
['Acm Air Charter Gmbh', 'Acm 에어챠터', '', 'BVR', 'Grounded']
['Acm Aviation', 'Acm 에비에이션', '', 'BJT', 'Grounded']
['Act International Airlines DBA Texas Airways', '액트 인터내셔널 에어라인 - 텍사스 에어웨이', '', 'CWT', 'Grounded']
['Action Air', '악티온 에어', '', 'ORS', 'Grounded']
['Action Airlines', '액션 에어라인', '', 'AXQ', 'Grounded']
['Active Aero Charter Inc', '액티브에어로챠터', '', 'AVR', 'Grounded']
['Acvila Air-Romanian Carrier', '악빌랴 에어-루마니아항공사', '', 'RRM', 'Grounded']
['Ad Aviation Limited', 'AD 항공', 'V6', 'VUE', 'Grounded']
['Ada Air', '아다 에어', 'ZY', 'ADE', 'Grounded']
['Addis Air Cargo Services P.L.C.', '아디스항공화물서비스', '', 'DSC', 'Grounded']
['Addis Airlines Plc', '애디스 에어라인', '', 'DDS', 'Grounded']
['Adefa, S.A.', 'Adefa', '', 'ADF', 'Grounded']
['Adi Shuttle Group, Llc ', 'ADI 셔틀 그룹', '', 'TEC', 'Grounded']
['Adler Aviation Ltd', '앨더 에비에이션', '', 'SWH', 'Grounded']
['Administracion De Aeropuertos Y Servicios Auxiliares A La', '어드미니스트레이션 드 에어로부에르토스', '', 'XXV', 'Grounded']
['Adria Airways', '아드리아 항공사', 'JP', 'ADR', 'Grounded']
['Adria Airways Switzerland', '다윈항공', 'F7', '', 'Grounded']
['Advance Aviation Services', '어드밴스 항공서비스', '', 'XTJ', 'Grounded']
['Advanced Flight Training Ltd', '어드벤스 플라이트 트레이닝', '', 'ADV', 'Grounded']
['Adventia', '어드벤티아', '', 'DVN', 'Grounded']
['Adygeya Airlines', '아디게야 에어라인', '', 'RDD', 'Grounded']
['AeBal (Aerolineas de Baleares )', '에어발', 'DF', '', 'Grounded']
['Aeg Aviation Services ', 'AEG 에비에이션 서비스', '', 'EBS', 'Grounded']
['Aegean Airlines', '에게안항공', 'A3', 'AEE', 'Active']
['Aeolus Air', '에올러스 항공', '', 'AAZ', 'Active']
['Aer Caribe', '에어카리브', '', 'ACL', 'Grounded']
['Aer Caribe Peru', '페루에어카리브', '', 'CPR', 'Active']
['Aer Lingus', '에어링거스', 'EI', 'EIN', 'Active']
['Aeralp', '아렐프', '', 'ALS', 'Grounded']
['AerCaribe', '에어카리베', 'JK', 'ACL', 'Active']
['Aerea Flying Training Organization , S.A.', '아에레 플라잉 트레이닝 오가나이제이션', '', 'ADG', 'Grounded']
['Aerea Transportes Aereos Del Pacifico', '델 퍼시픽 에어트랜스포츠', '', 'TAF', 'Grounded']
['Aereo Cabo', '아에로 카보', '', 'CBV', 'Grounded']
['Aereo Calafia', '칼라피아항공', 'A7', 'CFV', 'Active']
['Aereo Ruta Maya', '에어로 루타 마야', '', 'MMG', 'Grounded']
['Aereo Taxi Autlan', '아우틀란 에어택시', '', 'TLD', 'Grounded']
['Aereo Taxi Paraza', '아에로 택시 파라자', '', 'PZA', 'Grounded']
['Aereo Transportes Los Angeles De America', '로스엔젤레스 아메리카항공운송', '', 'AGI', 'Grounded']
['Aereo Wwg.', '에어로 WWG', '', 'WWG', 'Grounded']
['Aereos Pacifico', '아에로 퍼시피코', '', 'TFO', 'Grounded']
['Aereosaba', '아에로사바', '', 'ESB', 'Grounded']
['Aereotaxis', '아에로택시스', '', 'TXI', 'Grounded']
['Aereotuy', '에레오투이', 'L4', '', 'Active']
['AERFI Group plc', 'AERFI 그룹 plc', '', 'AGP', 'Grounded']
['Aerial Surveys (1980) Ltd', '에어리얼 서베이 1980', '', 'SUY', 'Grounded']
['Aerial Transit Company', '에어리얼 트린짓', '', 'AEZ', 'Grounded']
['Aeriantur-M', '아리안트루-M', '', 'MBV', 'Grounded']
['Aeris Gestion S.L.', '아에리스 제스티옹', '', 'RIS', 'Grounded']
['Aermarche', '아에르마체', '', 'MMC', 'Grounded']
['Aero (Nigeria)', '에어라 나이지리아', 'NG', 'NIG', 'Active']
['Aero 1 Prop-Jet', '에어로 1 프롭-제트', '', 'SSM', 'Grounded']
['Aero Africa', '에어로아프리카', '', 'RFC', 'Grounded']
['Aero Air, Llc', '에어로 에어', '', 'WIL', 'Grounded']